body {
    padding:20px;
}
container {
            color:#444;
            background: #444;
            text-align: center;
}

h2 {
    color:#F8C8DC;
}

botton {
        color:#A7C7E7
}
botton {
        color:#A7C7E7
}

p {
   color:#B399D4;
}